<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.savalicodes.notekeeper">

  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name="com.savalicodes.notekeeper.NoteActivity"
      android:label="Edit Note"
      android:parentActivityName="com.savalicodes.notekeeper.ItemsActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name="com.savalicodes.notekeeper.ItemsActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.savalicodes.notekeeper.NoteQuickViewActivity"
      android:excludeFromRecents="true"
      android:launchMode="singleTask"
      android:taskAffinity="" />

    <receiver
      android:name="com.savalicodes.notekeeper.NotificationBroadcastReceiver"
      android:enabled="true"
      android:exported="false" />
    <receiver android:name="com.savalicodes.notekeeper.NoteKeeperAppWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/note_keeper_app_widget_info" />
    </receiver>

    <service android:name="com.savalicodes.notekeeper.AppWidgetRemoteViewsService"
      android:permission="android.permission.BIND_REMOTEVIEWS"/>
  </application>

</manifest>